// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.none {
  text-decoration: none;
}

header {
  // max-width: 80%;
  // margin: auto;
  background-color: white;
  // padding: 0 0 7px 0;
}

.logo {
  width: 200px;
}

.navbar {
  background-color: white;
  height: 83px;
}


/****************
NAVIGATION BAR
****************/

nav {
  // text-align: center;
  // max-width: 800px;
  // padding: 10px;
  // margin: auto;
  // background: #4D4D4D; 
  // font-size: 12px;
  // color: #98C0CC;
  height: 83px;
}

nav ul {
  // list-style: none;
  // margin: 0 10px;
  // padding: 0;
  // height: 83px;
}

nav li {
  // display: inline-block;
  // height: 83px; 
}

.navbar li a {
  // color: white;
  // font-weight: 800;
  padding-top: 32px;
  padding-bottom: 32px;  
}

.navbar-form {
  padding-top: 20px;
  padding-bottom: 20px;  
}

/* nav link */
// nav a, nav a:visited {
//   color: #fff;
// }

/* selected nav link */
// nav a.selected, nav a:hover {
//   color: #98C0CC;
// }

#logo {
  text-align: center;
  margin: 0;
}

#box {
  background-color: gray;
  // background-image: url("dark_embroidery.png");
  margin: auto;
  max-width: 800px;
}

#box img {
  display: block;
  margin: auto;
}

#show-text {
  max-width: 70%;
  margin: auto;
  padding: 30px 30px 30px 30px;
  background-color: #E0E0E0;
}

#show-text h5{
  text-align: right;
}

#show-text h4{
  color: #286090;
}

#show_image {
  max-width: 70%;
  background-color: white;
  margin: auto;
}

.splash nav a {
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,0);
  border-radius: 0;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  margin: 0 10px;
  padding: 10px 16px 24px;
  width: 30%;
}

/****************
PAGE: SHOW ALL (No Bootstrap)
****************/

.gal {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gal li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: white;
  color: black;
  border-style: solid;
  border-radius: 5%;
  padding: 10px 10px 10px 10px;
  min-height: 525px;
}

.gal li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

.gal img {
  display: block;
  margin: auto;
}


