body {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  background-image: url("ignasi_pattern_s.png");
  background-color: black;
  margin-top: 0px;
}

.list-view {
  background-color: white;
  margin: 5px;
  max-width: 350px;
  min-height: 520px;
  max-height: 520px;
}


