body {
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  background-image: url("swirl_pattern.png");
  background-color: black;
  margin-top: 0px;
}

.carousel-inner img {
  max-height: 275px;
  background-color: white;
  margin: auto;
}

h6 {
  color: white;
}

.col-xs-6 {
  background-color: white;
  margin: 25px 25px;
}

.col-sm-3 {
  background-color: white;
  margin: 25px 45px;
  border-style: solid;
  border-color: #98C0CC
}

.col-sm-3 img {
  display: block;
  margin: auto;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.input-group {
  padding: 5px;
}

.form {
  max-width: 200px;
}
