body {
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  background-image: url("swirl_pattern.png");
  background-color: black;
  margin-top: 0px;
}

h6 {
  color: white;
}

.col-fixed {
  background-color: white;
  margin: 25px 50px;
  min-width: 300px;
  max-width: 300px;
  min-height: 525px;
  max-height: 525px;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
