  <div class="container">
    <nav class="splash">
      <a href="about">About</a>
      <a href="/products">Store</a>
      <a href="/products/new">New</a>
    </nav>
    <h1>
      Periscope
    </h1>
    <span class="headline">
      Explore the world through someone else's eyes.
    </span>
  </div>



